/WitnessBackendEngineerTask/.idea
/WitnessBackendEngineerTask/HmlrApi/obj/
/WitnessBackendEngineerTask/HmlrApi/bin/
/WitnessBackendEngineerTask/LeaseApi/obj/
/WitnessBackendEngineerTask/LeaseApi/bin/
/.vs/
/WitnessBackendEngineerTask/.vs/

